<footer class="site-footer" style="background-image: url(images/full_blue_purple_compressed.jpg);">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3>Developers</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Phạm Đức Bình</a></li>
                    <li><a href="#">Nguyễn Đỗ Nhật Khang</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">@FPT University</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/main.js"></script>